{# views/templates/tasks/layout.html.twig #}
{% extends 'templates/base.html.twig' %}

{% block content %}
    <h1 class="mb-8 text-xl font-semibold text-blue-500">Tasks</h1>

    {% block page_contents %}{% endblock %}
{% endblock %}